@tailwind base;
@tailwind components;
@tailwind utilities;

.item-blur {
    background-color: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(4px);
}

.para-container {
    max-width: 900px;
    overflow-y: auto;
}

.scroll-container {
    max-width: 900px;
    max-height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
  }